.telemetry-main {
  padding: 24px;
  box-sizing: border-box;
}
#title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.image {
  width: 140px;
  height: 140px;
  background-size: 140px;
}

#row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#voltage {
  font-size: 36px;
  font-weight: 600;
  color: #70A9A1;
}

#units {
  font-size: 18px;
  font-weight: 400;
  color: #777;
}

.container {
  padding: 12px;
  border-radius: 4px;

  width: 125px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
}
