#main {
  display: grid;
  grid-gap: 24px 24px;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 700px 1fr;
  padding: 24px;
  box-sizing: border-box;
  background-color: #000;
}

#drivetrain-telemetry {
  grid-row-start: 1;
  grid-row-end: 5;
}

#main > div {
  background-color: #111;
  border-radius: 6px;
}