#main {
  display: grid;
  grid-gap: 12px 12px;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  grid-template-columns: 1fr 40vw;
  padding: 12px;
  box-sizing: content-box;
}

#drivetrain-telemetry {
  background-color: #aaa;
  grid-row-start: 1;
  grid-row-end: 5;
}

#shooter-telemetry {
  background-color: #bbb;
}

#intake-telemetry {
  background-color: #ccc;
}

#hang-telemetry {
  background-color: #ddd;
}

#arm-telemetry {
  background-color: #eee;
}